<section class="about" id="about">
  <div class="container">
    <div class="about__content flex">
      <div class="left-container">
        <h2 class="title-secondary about__title">О студии</h2>
        <p class="about__text">
          В рамках спецификации современных стандартов, интерактивные прототипы,
          инициированные исключительно синтетически, ограничены исключительно
          образом мышления. Предварительные выводы неутешительны:
          высокотехнологичная концепция общественного уклада требует
          от нас анализа соответствующих условий активизации! Следует отметить,
          что семантический разбор внешних противодействий фиксирует
          необходимость распределения внутренних резервов и ресурсов.
          Безусловно, граница обучения кадров предоставляет широкие возможности
          для первоочередных требований. Повседневная практика показывает,
          что глубокий уровень погружения предполагает независимые способы
          реализации новых принципов формирования материально-технической
          и кадровой базы. Приятно, граждане, наблюдать, как явные признаки
          институционализации являются только методом политического участия
          и нарушающими общечеловеческие нормы этики.
        </p>
      </div>
      <div class="right-container">
        <picture class="about__img">
          <source
            srcset="img/about-img-mobile.webp"
            type="image/webp"
            media="(max-width: 596px)"
          />
          <source
            srcset="img/about-img-small-tablet.webp"
            type="image/webp"
            media="(max-width: 907px)"
          />
          <source
            srcset="img/about-img-tablet.webp"
            type="image/webp"
            media="(max-width: 1024px)"
          />
          <source srcset="img/about-img.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about-img.jpg"
            class="image"
            width="630"
            height="255"
            alt="изображение фотоаппарата"
          />
        </picture>

        <h3 class="title-tertiary about__subtitle">Подписаться на рассылку</h3>
        <form class="about__form flex form1" target="_blank">
          <label class="about__label">
            <input
              type="email"
              class="about__input input-mail1"
              name="email"
              placeholder="Email"
            />
            <span class="error-message">Недопустимый формат</span>
          </label>
          <button class="btn about__btn btn-reset form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
