<section class="projects" id="projects">
  <div class="container">
    <h2 class="title-secondary projects__title">Наши проекты</h2>
    <ul class="projects__list grid list-reset">
      <li class="projects__item item1 card-badge" data-badge="#пейзаж">
        <picture class="projects__img">
          <source
            srcset="img/project-img1-mobile.webp"
            type="image/webp"
            media="(max-width: 596px)"
          />
          <source
            srcset="img/project-img1-tablet.webp"
            type="image/webp"
            media="(max-width: 1024px)"
          />
          <source srcset="img/project-img1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-img1.jpg"
            class="image"
            width="190"
            height="184"
            alt="пейзаж"
          />
        </picture>

        <p class="projects__desc cut-text">
          Синтетически, смешаны с не уникальными данными до степени…
        </p>
        <div class="data-wrapper flex">
          <img src="img/svg/grey-icon.svg" class="data-icon" alt="/" />
          <p class="data">16 июня</p>
        </div>
      </li>
      <li class="projects__item item2 card-badge" data-badge="#портрет">
        <picture class="projects__img">
          <source
            srcset="img/project-img2-mobile.webp"
            type="image/webp"
            media="(max-width: 596px)"
          />
          <source
            srcset="img/project-img2-tablet.webp"
            type="image/webp"
            media="(max-width: 1024px)"
          />
          <source srcset="img/project-img2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-img2.jpg"
            class="image"
            width="190"
            height="184"
            alt="портрет"
          />
        </picture>

        <p class="projects__desc cut-text">
          В своём стремлении улучшить опыт мы упускаем, что явные...
        </p>
        <div class="data-wrapper flex">
          <img src="img/svg/grey-icon.svg" class="data-icon" alt="/" />
          <p class="data">28 мая</p>
        </div>
      </li>
      <li class="projects__item item3 card-badge" data-badge="#предмет">
        <picture class="projects__img">
          <source
            srcset="img/project-img3-mobile.webp"
            type="image/webp"
            media="(max-width: 596px)"
          />
          <source
            srcset="img/project-img3-small-tablet.webp"
            type="image/webp"
            media="(max-width: 907px)"
          />
          <source
            srcset="img/project-img3-tablet.webp"
            type="image/webp"
            media="(max-width: 1024px)"
          />
          <source srcset="img/project-img3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-img3.jpg"
            class="image"
            width="190"
            height="184"
            alt="натюрморт"
          />
        </picture>

        <p class="projects__desc cut-text">
          Равным образом, высокое качество позиционных высокотехнологичная
          концепция общественного уклада
        </p>
        <div class="data-wrapper flex">
          <img src="img/svg/grey-icon.svg" class="data-icon" alt="/" />
          <p class="data">14 мая</p>
        </div>
      </li>
      <li class="projects__item item4 card-badge" data-badge="#fuji">
        <div class="proj-content">
          <svg
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.6667 1.74992H10.0834V0.583252H8.91675V1.74992H3.08342V0.583252H1.91675V1.74992H1.33341C0.691748 1.74992 0.166748 2.27492 0.166748 2.91659V12.2499C0.166748 12.8916 0.691748 13.4166 1.33341 13.4166H10.6667C11.3084 13.4166 11.8334 12.8916 11.8334 12.2499V2.91659C11.8334 2.27492 11.3084 1.74992 10.6667 1.74992ZM10.6667 12.2499H1.33341V4.66658H10.6667V12.2499Z"
              fill="white"
            />
          </svg>
          <p class="data">9 апреля</p>
          <h2 class="projects__subtitle title-secondary">
            Cемантический разбор
          </h2>
          <p class="proj__desc">
            В рамках спецификации современных стандартов, интерактивные
            прототипы
          </p>
        </div>
        <a href="#" class="projects__btn">О проекте</a>
      </li>
      <li class="projects__item item5 card-badge" data-badge="#проектзабвение">
        <div class="proj-content">
          <svg
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.6667 1.74992H10.0834V0.583252H8.91675V1.74992H3.08342V0.583252H1.91675V1.74992H1.33341C0.691748 1.74992 0.166748 2.27492 0.166748 2.91659V12.2499C0.166748 12.8916 0.691748 13.4166 1.33341 13.4166H10.6667C11.3084 13.4166 11.8334 12.8916 11.8334 12.2499V2.91659C11.8334 2.27492 11.3084 1.74992 10.6667 1.74992ZM10.6667 12.2499H1.33341V4.66658H10.6667V12.2499Z"
              fill="white"
            />
          </svg>
          <p class="data">20 марта</p>
          <h2 class="projects__subtitle title-secondary">Забвение</h2>
          <p class="proj__desc">
            Играет важную роль в формировании глубокомысленных рассуждений
          </p>
        </div>
        <a href="#" class="projects__btn">О проекте</a>
      </li>
      <li class="projects__item item6 card-badge" data-badge="#ретушь">
        <picture class="projects__img">
          <source
            srcset="img/project-img6-mobile.webp"
            type="image/webp"
            media="(max-width: 596px)"
          />
          <source
            srcset="img/project-img6-tablet.webp"
            type="image/webp"
            media="(max-width: 1024px)"
          />
          <source srcset="img/project-img6.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-img6.jpg"
            class="image"
            width="300"
            height="184"
            alt="натюрморт"
          />
        </picture>

        <p class="projects__desc">
          Как принято считать, многие известные личности и по сей день остаются
          уделом либералов…
        </p>
        <div class="data-wrapper flex">
          <img src="img/svg/grey-icon.svg" class="data-icon" alt="/" />
          <p class="data">9 марта</p>
        </div>
      </li>
      <li class="projects__item item7 card-badge" data-badge="#портрет">
        <picture class="projects__img">
          <source
            srcset="img/project-img7-mobile.webp"
            type="image/webp"
            media="(max-width: 596px)"
          />
          <source
            srcset="img/project-img7-tablet.webp"
            type="image/webp"
            media="(max-width: 1024px)"
          />
          <source srcset="img/project-img7.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/project-img7.jpg"
            class="image"
            width="300"
            height="184"
            alt="портрет"
          />
        </picture>
        <p class="projects__desc">
          С учётом сложившейся международной обстановки, новая модель
          организационной…
        </p>
        <div class="data-wrapper flex">
          <img src="img/svg/grey-icon.svg" class="data-icon" alt="/" />
          <p class="data">1 марта</p>
        </div>
      </li>
    </ul>
  </div>
</section>
