.card-badge:after {
  position: absolute;
  display: block;
  content: attr(data-badge);
  font-weight: 400;
  font-size: 14px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 7px 15px;
  right: 10px;
  top: 10px;
  z-index: 100;

  @include mobile {
    font-size: 12px;
    padding: 4px 7px;
    right: 8px;
    top: 7px;
  }
}
