.footer {
  padding: 25px 0;
  background-color: var(--dark-color);

  @include tablet {
    padding-bottom: 16px;

    .grid {
      grid-template-columns: repeat(2, 1fr) 207px;
      gap: 25px;
    }
  }

  @include small-tablet {
    padding: 25px 0;

    .grid {
      grid-template-columns: repeat(2, 1fr) 183px;
    }
  }

  @include mobile {
    padding-top: 32px;
    padding-bottom: 0;
    background: linear-gradient(#202020 67%, #4a4a4a 67%);

    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 62px;
      gap: 30px;
    }
  }

  &__left {
    grid-column: 4 span;

    @include tablet {
      align-self: center;
      grid-area: 1 / 1 / 2 / 2;
    }

    @include mobile {
      grid-area: 2 / 1 / 3 / 3;
      justify-self: center;
      margin-top: 9px;
    }
  }

  .footer-logo {
    @include tablet {
      width: 166px;
    }

    @include mobile {
      margin: auto;
      display: block;
      width: 111.55px;
      transform: translateX(40px);
    }
  }

  &__center {
    grid-column: 6 span;

    @include tablet {
      grid-area: 1 / 2 / 2 / 3;
    }

    @include small-tablet {
      display: none;
    }
  }
  &__right {
    grid-column: 2 span;
    justify-self: end;

    @include tablet {
      grid-area: 1 / 3 / 2 / 4;
    }

    @include mobile {
      grid-area: 1 / 1 / 2 / 3;
      justify-self: center;
    }
  }

  a {
    display: inline-block;
    margin-bottom: 4px;

    @include tablet {
      margin-bottom: 2px;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__copy {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: #e9e9e9;

    @include mobile {
      font-size: 1px;
    }
  }

  blockquote {
    margin: 0;
    max-width: 355px;
  }

  .text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #cacaca;
    line-height: 22px;
  }

  &__social {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #cacaca;
  }

  .icon {
    width: 100%;
    justify-content: center;
    gap: 20px;
  }

  .icon-ok {
    vertical-align: middle;

    &:focus path {
      outline: none;
      fill: var(--hoverBtn-color);
    }

    &:hover path {
      fill: var(--accent-color);
    }

    &:active path {
      fill: var(--activeBtn-color);
    }
  }

  .icon-vk {
    vertical-align: middle;

    &:focus path {
      outline: none;
      fill: var(--hoverBtn-color);
    }

    &:hover path {
      fill: var(--accent-color);
    }

    &:active path {
      fill: var(--activeBtn-color);
    }
  }

  a {
    outline: none;
  }

  a.focus-visible path {
    fill: var(--hoverBtn-color);
  }

  &__right svg {
    display: inline-flex;
  }
}
