.header {
  padding: 24px 0;
  background-color: #202020;

  @include tablet {
    padding: 25px 0;
  }

  @include small-tablet {
    padding-bottom: 0;
    background: linear-gradient(#202020 64%, #4a4a4a 64%);
  }

  @include mobile {
    height: 115px;
    background: linear-gradient(#202020 62%, #4a4a4a 62%);
  }

  &__container {
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include small-tablet {
      flex-wrap: wrap;
      gap: 26px;
    }

    @include mobile {
      align-items: flex-start;
    }

    .nav {
      margin-right: 5%;

      @include small-tablet {
        margin-right: 0;
        padding: 13px 0;
        flex-grow: 1;
        order: 3;
      }
    }

    .logo {
      margin-right: 20px;

      @include tablet {
        margin-right: 7px;
        max-width: 168px;
      }
    }

    .logo img {
      vertical-align: middle;

      @include mobile {
        max-width: 68%;
        vertical-align: top;
      }
    }
  }
}

.nav {
  @include small-tablet {
    order: 3;
  }

  &__list {
    font-family: var(--second-family, sans-serif);
    align-items: center;
    gap: 79px;

    @include tablet {
      gap: 33px;
    }

    @include small-tablet {
      justify-content: space-between;
    }

    @include mobile {
      margin-right: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      padding-top: 48px;
      padding-left: 18px;
    }
  }

  &__link {
    font-size: var(--main-size);
    color: var(--light-color);
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--accent-color);
    }

    &:active {
      color: var(--active-color);
    }
  }

  @include mobile {
    position: absolute;
    left: 0;
    top: 47px;
    z-index: 200;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    // display: none;
  }
}

.nav.menu--active {
  opacity: 1;
  visibility: visible;
}

.nav__link.focus-visible {
  box-shadow: 0 0 0 3px #bc572b;
  background-color: #bc572b;
}
