.projects {
  padding: 69px 0 38px 0;

  @include tablet {
    padding-bottom: 35px;
  }

  @include mobile {
    padding-top: 52px;
    padding-bottom: 17px;
  }

  &__title {
    color: var(--dark-color);
    margin-bottom: 13px;

    @include mobile {
      font-size: 18px;
    }
  }
  &__list {
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 33px;

    @include tablet {
      grid-template-rows: 285px repeat(2, 307px);
      grid-row-gap: 25px;
    }

    @include small-tablet {
      grid-template-rows: repeat(2, 1fr) 307px 1fr;
      grid-row-gap: 29px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }

  &__img {
    display: block;
    margin-bottom: 15px;

    @include mobile {
      margin-bottom: 14px;
    }
  }

  .data-wrapper {
    gap: 6px;
  }

  .wrapper {
    flex-wrap: wrap;
    gap: 6px;
  }

  .image {
    width: 100%;
  }

  .item1 {
    grid-area: 1 / 1 / 2 / 3;
    position: relative;

    @include small-tablet {
      grid-template-columns: 2 span;
    }
  }

  .item2 {
    grid-area: 1 / 3 / 2 / 5;
    position: relative;

    @include small-tablet {
      grid-template-columns: 2 span;
    }
  }

  .item3 {
    grid-area: 1 / 5 / 2 / 7;
    position: relative;

    @include tablet {
      grid-area: 1 / 5 / 2 / 9;
    }

    @include small-tablet {
      grid-area: 1 / 5 / 2 / 7;
    }

    @include mobile {
      .cut-text {
        -webkit-line-clamp: 2;
      }
    }
  }

  .item4 {
    background-image: url("../img/project-img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: 1 / 7 / 2 / 13;
    position: relative;
    padding: 25px 30px 30px;
    display: flex;
    flex-direction: column;

    @include tablet {
      background-image: url("../img/project-img4-tablet.webp");
      background-repeat: no-repeat;
      grid-area: 2 / 1 / 3 / 6;
      padding-top: 33px;
      padding-bottom: 29px;
    }

    @include small-tablet {
      background-image: url("../img/project-img4-small-tablet.webp");
      grid-area: 2 / 1 / 3 / 7;
      padding-bottom: 29px;
    }

    @include mobile {
      background-image: url("../img/project-img4-mobile.webp");
      min-height: 422px;
      justify-content: flex-end;
      padding-bottom: 32px;
    }
  }

  .proj-content {
    max-width: 292px;
  }

  .proj-content .data {
    color: var(--light-color);
    margin-bottom: 4px;

    @include mobile {
      margin-bottom: 10px;
    }
  }

  .proj__desc {
    margin: 0;
    color: var(--light-color);
    line-height: 22px;

    @include mobile {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 19px;
      max-width: 218px;
    }
  }

  &__subtitle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--light-color);
    margin-bottom: 7px;

    @include mobile {
      margin-bottom: 9px;
    }
  }

  &__btn {
    margin-top: auto;
    padding: 13.5px 20px;
    color: var(--light-color);
    border: 3px solid var(--accent-color);
    max-width: min-content;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      background-color: var(--accent-color);
    }

    &:active {
      border-color: var(--active-color);
      background-color: var(--active-color);
    }

    @include mobile {
      margin-top: 0;
      padding: 6.5px 14px;
    }
  }

  &__btn.focus-visible {
    background-color: var(--hoverBtn-color);
  }

  .item5 {
    background-image: url("../img/project-img5.jpg");
    background-size: cover;
    grid-area: 2 / 1 / 3 / 7;
    position: relative;
    padding: 25px 30px 30px;
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 31px 30px 30px;
      background-image: url("../img/project-img5-tablet.webp");
      grid-area: 3 / 4 / 4 / 9;
    }

    @include small-tablet {
      background-image: url("../img/project-img5-small-tablet.webp");
      grid-area: 3 / 4 / 4 / 9;
      grid-area: 4 / 1 / 5 / 7;
    }

    @include mobile {
      background-image: url("../img/project-img5-mobile.webp");
      order: 7;
      min-height: 422px;
      justify-content: flex-end;
      padding-top: 33px;
      padding-bottom: 32px;
    }
  }

  .item6 {
    grid-area: 2 / 7 / 3 / 10;
    position: relative;

    @include tablet {
      grid-area: 2 / 6 / 3 / 9;
    }

    @include small-tablet {
      grid-area: 3 / 1 / 4 / 4;
    }

    @include mobile {
      // transform: translateY(-8px);
    }
  }

  .item7 {
    grid-area: 2 / 10 / 3 / 13;
    position: relative;

    @include tablet {
      grid-area: 3 / 1 / 4 / 4;
    }

    @include small-tablet {
      grid-area: 3 / 4 / 4 / 7;
    }
  }

  .wrapper-content {
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__desc {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-color);

    @include tablet {
      margin-bottom: 20px;
    }

    @include small-tablet {
      margin-bottom: 14px;
    }
  }

  .cut-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    @include tablet {
      -webkit-line-clamp: 2;
    }

    @include small-tablet {
      -webkit-line-clamp: 3;
    }
  }

  svg {
    vertical-align: middle;
  }

  .data {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    display: inline-block;
  }
}
