<section class="hero" id="hero">
  <div class="container">
    <div class="hero__content flex">
      <div class="hero__article card-badge" data-badge="#мастеркласс">
        <p class="hero__descr">Мастер-класс от Игоря Робова</p>
        <h1 class="hero__title">Неоновый фотосет 2.0 7&nbsp;июля 20:00</h1>
        <a href="#" class="btn hero__btn">Узнать больше</a>
      </div>
      <div class="hero__content-left">
        <h2 class="hero__subtitle title-secondary">
          Работы участников предыдущего мастер-класса
        </h2>
        <div class="wrapper">
          <picture class="top-img">
            <source
              srcset="img/hero-img2-small-tablet.webp"
              type="image/webp"
              media="(max-width: 907px)"
            />
            <source
              srcset="img/hero-img2-tablet.webp"
              type="image/webp"
              media="(max-width: 1024px)"
            />
            <source srcset="img/hero-img2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/hero-img2.jpg"
              class="hero-img"
              width="630"
              height="300"
              alt="High Pass"
            />
          </picture>
          <picture class="left-img">
            <source
              srcset="img/hero-img3-tablet.webp"
              type="image/webp"
              media="(max-width: 1024px)"
            />
            <source srcset="img/hero-img3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/hero-img3.jpg"
              class="hero-img"
              width="300"
              height="257"
              alt="High Pass"
            />
          </picture>
          <picture class="right-img">
            <source
              srcset="img/hero-img4-tablet.webp"
              type="image/webp"
              media="(max-width: 1024px)"
            />
            <source srcset="img/hero-img4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/hero-img4.jpg"
              class="image"
              width="300"
              height="257"
              alt="High Pass"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
